MAIL_FROM=
RESEND_API_KEY=
RESEND_API_BASE_URL=https://api.resend.com

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=

REDIS_HOST=
REDIS_PORT=

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=